*{
    padding: 0.25em;
    overflow: hidden;
}
html, body {
    height: 100%;
    background-color: #3f729b;
}

.container-fullwidth{
    display: table;
    margin: auto;
}

.container{
    display: table-cell;
    vertical-align: middle;
    width: 40em;
    color: aliceblue;
}
th,td{
    color: aliceblue;
}

h4{
    margin:1em;
}
button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-add {
    background: none;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 0.8em;
    padding: 1em 3em;
    position: relative;
    margin: 2em;
    margin-left:2em;
    margin-bottom: 1.5em;
}

button::before,
button::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
}

button:hover {
    color: #303030;
}

.btn-add::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}

.btn-add:hover:after {
    height: 100%;
    top: 0;
    width: 100%;
}
#modal-title{
    color:black;
}
#log{
    margin-left: 550px;
    color: white;
  }

.tdata{
    width: 90px;
    height: 20px;
}

.style{
    padding: 10px;
}

.total{
    padding: 10px;
}