*{
    padding: 0.25em;
}
html,
body{
    height: 100%;
    background-color: #3f729b;
}
canvas{
    width: 400px;
    height: 500px;
}
h4{
    color: black;
}
#log{
    margin-left: 550px;
    color: white;
<<<<<<< HEAD
  }
=======
}
.chart{
    height: 230px;
    width: 100px;
}
>>>>>>> f4259e7e99553f8e3ad1295e90d018d95f9540e4
