*{
    padding: 0.25em;
}
html,
body{
    height: 100%;
    background-color: #3f729b;
}
canvas{
    width: 400px;
    height: 500px;
}
h4{
    color: black;
}
#log{
    margin-left: 550px;
    color: white;
}
.report{
    height: 50px;
    width: auto;
}

